* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

.box { 
    width: fit-content;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(3, 100, 145);
    box-sizing: border-box;
    display: inline-block;

    
}

body { 
    /* background: rgb(177, 177, 177)  */
    /* background-image: url(../images/img.png); */
    background-image: url(https://sun9-6.userapi.com/impg/qvqS2-oQLcUqeFsXxQq72z4chKoOicd4BEvsTQ/rhn6uWjvaoA.jpg?size=900x900&quality=96&sign=983faff92189d57d9c6443efae60113d&type=album);
    background-repeat: repeat;

}

.backgroundBox {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(73, 73, 73, 0.295);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.jija {
    transition: .5s cubic-bezier(1, -1.22, 0, 5.57);
}

.jija:hover {
    transform: rotateY(180deg);
}

#zxc {
    color: brown;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease-in-out;
 }

 .s13 {
    color: #34495e;
    line-height: 1.2;
    position: relative;
    padding: 0 14px;
    text-transform: uppercase;
 }
 .s13:after {
    content: "";
    height: 100%;
    min-width: 4px;
    background: #34495e;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s;
 }
 .s13:hover:after {
    min-width: 100%;
    background: #95a5a6;
    opacity: .35;
 }
 
/* Прямой потомок */
.test > a {
    color: yellow;
}

/* a с классом тест */
a.test {
    color: black;
}

/* внутри класса тест находится а */
.test a{
    color: black;
}

.fif {
    margin: 50%;
}


ul li {
    font-size: 14px;
    color: red;
}

.center {
    width: 100%;
}

.center > .content {
    width: fit-content;
    margin: 0 auto;
}

.bordr {
    border: dotted blue;
}

/* table {
    border-collapse: collapse; 
    /* border: dotted blue 2px;     
} 
*/

th, td {
    border: dashed red 2px;
    border-collapse: collapse;
 }

.jir {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;   
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }