@import 'fonts.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/background.png");
    /* background-color: #656d4a; */
    background-repeat: repeat;
    font-family: "MyriadPro";
    font-size: 14px;
    line-height: 1.25;
    /* position: relative; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font-normal {
    font-weight: 400;
    color: #787878;
}

.font-bold {
    font-weight: 700;
}
.font-blue-bold {
    color: #4361ee;
}

.login-form {
    background-color: white;
    color: #787878;
    margin-top: 82px;
    padding: 32px 64px;
    border: 1px solid #c7c6c6;
    border-radius: 10px;
    height: 275px;
    width: 390px;
    display: block;
    position: static;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
}

.baseinput {
    /* width: fit-content; */
    position: relative;
    margin-bottom: 8px;
}

.baseinput-icon {
    position: absolute;
    fill: #787878;
    top: 8px;
    right: 12px;
    pointer-events: none;
}

.baseinput input {
    width: 100%;
}

.login-form-title {
    margin-bottom: 20px;
}

.input  {
    border-radius: 3px;
    /* margin: 0 auto; */
    background-color: #f7f6f6;
    box-shadow: inset 0px 3px 4px 1px rgb(0 0 0 / 5%);
    height: 35px;
    width: 213px;
    padding-left: 15px;
    border: none;
    outline: none;
}

.link-space {
    margin-top: 16px;
    text-align: center;
}

.mt16 {
    margin-top: 16px;
}

.tac {
    text-align: center;
}

.link {
    text-decoration: none;
    text-underline-offset: 2px;
}

.link:hover span {
    text-decoration: underline;
}

.btn {
    height: 37px;
    width: 114px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #4361ee;
    border-color: #10578a;
    box-shadow: inset 0px 2px 1px 0px #6fa3ca, 0px 2px 1px 0px #9c9c9c, 0px 2px 0px -2px #9c9c9c;
}

video {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: fill;
}